{% extends "admin/_admin_base.html" %}

{% block title %}ADMIN LOGIN PAGE{% endblock %}

{% block main_column %}

    {% if form.errors %}
        <p class="login_error">Sorry, that's not a valid username or password</p>
    {% endif %}

    <div class="login_box">
    <form action="" method="post">
        <p>Username:</p>
        <input type="text" name="username" value="" id="username">
        <p>Password</p>
        <input type="password" name="password" value="" id="password">

        <input type="submit" value="Login" />
        <input type="hidden" name="next" value="/admin/" />
    </form>
    </div>

{% endblock %}