{% extends "admin/_admin_base.html" %}

{% block main_column %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize|escape }} below.
        </p>
    {% endif %}

    <form action="" method="POST">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Save" name="sbtn_postsnumber" id="sbtn_postsnumber" />
    </form>
{% endblock %}
