{# This page is the unit for every single message displayed on the admin main page #}

<div class="single_message_admin">
    <table class="posts_list">
        <tr>
            <td width="30"><a href="{% url admin_delete_post mid=message.id %}">
                    <img src="/media/images/delete.png" />
                </a>
            </td>
            <td width="30" align="center">{{ message.id }}</td>
            <td>{{ message.date|date:"d-m-Y H:m:s" }}</td>            
        </tr>
        <tr>
            <td bgcolor="#F3FFF0" colspan="3">{{ message.guest|urlize }}</td>
        </tr>
        <tr>
            <td><a href="mailto:{{ message.guest.email }}"><img src="/media/images/email.png" /></a></td>
            <td colspan="2">{{ message.guest.email }}</td>
        </tr>
        <tr>
            <td colspan="3">{{ message.message|escape|striptags }}</td>
        </tr>
    </table>
</div>