<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/style.css" type="text/css" media="screen">
</head>

<body>
    <div id="maincontainer">
        <div id="headerwrapper">
            <h1>{{ site_title }}</h1>
        </div>
        <div id="barwrapper">
            {% if enableposting %}
                {% ifequal request.path "/" %}
                    <a href="{% url add_post %}">Add</a>
                {% else %}
                    <a href="{% url main_page %}">Main Page</a>
                {% endifequal %}
            {% else %}
                <p title="Sorry, at this moment new posts are not allowed.">Add</p>
            {% endif %}
        </div>
        <div id="contentwrapper">
            <div id="contentcolumn">
                <div class="innertube">{% block main_column %}{% endblock %}</div>
            </div>
        </div>

        <div id="footer"><p>Copyright (&copy;) 2009 Cristian Năvălici </p></div>
    </div>
</body>
</html>