{% extends "_base.html" %}

{% block title %}Add New Message{% endblock %}

{% block main_column %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize|escape }} below.
        </p>
    {% endif %}


    <form action="" method="POST">
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Post it!" name="submitBtn" id="submitBtn" />
    </form>
{% endblock %}