{# This page is the unit for every single message displayed on the main page #}

<div class="single_message">
    &#35;
    {{ message.id }} <i>{{ message.guest }}
    </i> said at <i>{{ message.date|date:"d-m-Y H:i:s" }}</i><br/>
    {{ message.message|escape|striptags }}
</div>