/* css file for all the guestbook*/

* { margin:0; padding:0 }

img { border:0 }

body {
    background-color: #DFF1FF;
    font-family:Arial,Helvetica,sans-serif;
}

#maincontainer {
    margin: 0 auto;
    width: 100%;
    background-color: #DFF1FF;
}

#headerwrapper {
    margin: 0 auto;
    width: 80%;
    background:#DFF1FF url('/media/images/background.png') repeat-x scroll 0 0;
    color:yellow;
    height:100px;
    padding:5px;
}

#barwrapper,#footer {
    margin: 0 auto;
    width: 80%;
    height:20px;
    background-color:#89D2FF;
    padding: 5px;
    border-top:1px solid #1A5E21;
}

#contentwrapper {
    margin: 0 auto;
    width: 60%;
}

.single_message {
    margin: 0 auto;
    width: 90%;
    border-bottom:1px solid green;
    padding: 3px;
}

.single_message_admin {
    margin: 0 auto;
    width: 100%;
    padding: 3px;
}

.pagination {
    display: block;
    margin:5px;
    font-size:0.8em;
}

.login_box {
    display: block;
    margin:10px;
    padding: 10px;
    font-size:0.8em;
    border: 1px solid green;
    width: 200px;
}

.login_error {
    font-size:0.8em;
    color: #EA4710;
}

.posts_list {
    width:600px;
    border:1px solid #414446;
    font-size:0.9em;
    background: #C8D8E4;
}

.posts_list td { background: #ECF7FF; }